{% extends 'shopapp/base.html' %}
{% block content %}
    <form classa="form"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="form-group">
            <input class="form-control form-control-user" placeholder="店铺名称" type="text" name="store_name">
        </div>
         <br>
        <div class="form-group">
            <input class="form-control form-control-user" placeholder="店铺地址" type="text" name="store_address">
        </div>
         <br>
        <div class="form-group">
            <input class="form-control form-control-user" placeholder="店铺描述" type="text" name="store_descripton">
        </div>
         <br>
        <div class="form-group">
            <input class="form-control form-control-user" placeholder="店铺电话" type="text" name="store_phone">
        </div>
         <br>
         <div class="form-group">
            <input class="form-control form-control-user" placeholder="店铺注册资金" type="text" name="store_money">
        </div>
        <br>
         <div class="form-group">
             <select name="type" class="form-control form-control-user" multiple="multiple">
                 {% for type in type_list %}
                     <option value="{{ type.id }}">{{ type.store_type }}</option>
                 {% endfor %}
             </select>
        </div>
        <br>
        <div class="form-group">
            <input class="form-control form-control-user" placeholder="店铺logo" type="file" name="store_logo">
        </div>
        <br>
        <div>
            <input class="btn btn-primary btn-block"  type="submit" value="注册">
        </div>
    </form>
{% endblock %}

